.select2-results__option:not([id*="header_"]) {
	padding-left: 12px;
}

.select2-results__option[id*="header_"] {
	pointer-events: none;
	font-weight: 600;
	cursor: default;
}

.elementor-panel .elementor-tab-control-archt_display a:before,
.elementor-panel .elementor-tab-control-archt_display span:before {
	font-family: eicons;
	content: '\e901';
}

.archt-muted {
	color: #646970;
}
